.header-img{
  background-image: url(../img/ysa/nugs-background.png);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #F2F0F1;
}




.arrows{
  left: 80%;
}
